# Basic Types

In [31]:
a = 1
print(a)
print(type(a))

1
<class 'int'>

In [32]:
b = 1.34
print(b)
print(type(b))

1.34
<class 'float'>

In [33]:
c = "arst"
print(c)
print(type(c))

arst
<class 'str'>

In [34]:
# This is a comment

# Sets

In [35]:
my_set = {1,2,3,"arst",1.44234}
print(my_set)
print(type(my_set))

{1, 2, 3, 1.44234, 'arst'}
<class 'set'>

In [36]:
S = {'C','D','H','S'}
A = {'C','D'}
B = {'D','H','S'}
print(A.union(B))
print(A.intersection(B))
print(S.difference(A))

{'D', 'H', 'C', 'S'}
{'D'}
{'H', 'S'}

# Lists

In [37]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6]

In [38]:
print(list1[0])
print(list1[1])
print(list1[1:3])
print(list1[:3])
print(list1[1:])

1
2
[2, 3]
[1, 2, 3]
[2, 3, 4, 5]

In [39]:
list1.append(10)
list1

[1, 2, 3, 4, 5, 10]

In [40]:
len(list1)

6

In [41]:
print(list1)
list1[2] = 20
print(list1)

[1, 2, 3, 4, 5, 10]
[1, 2, 20, 4, 5, 10]

In [42]:
list(my_set)

[1, 2, 3, 1.44234, 'arst']

# Functions

In [43]:
def double(n):
    doubled_n = n + n
    return doubled_n

double(3)

6

In [48]:
def greet(name, title="Mr "):
    print("Hello " + title + name)

greet("flan")
greet("flan", "Phd. ")

Hello Mr flan
Hello Phd. flan

In [45]:
def fib(n):
    if n==1:
        return 1
    else:
        return n + fib(n-1)

fib(3)

6

# Loops

In [46]:
my_list = [1,2,3]
for n in my_list:
    print(my_list)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3]

In [47]:
for el in my_set:
    print(el)

1
2
3
1.44234
arst